h2{
  text-align: center;
}

#sign-up {
  text-align: center;
}

.inputs{
  padding: 10px;
}

#reg-footer {
  /* border: 1px solid black; */
  padding: 20px;
  margin: 10px;
}
 /* #reg-footer-button */
Button{
  margin: 20px;
}

a:hover{
  border: solid 1px lightgrey;
  border-radius: 10px;
}

#registration-name-input{
  margin: 10px;
}

#registration-username-input{
  margin: 10px;
}

#registration-password-input{
  margin: 10px;
}