.dashboard-container{
    /* border: 1px solid black; */
    padding: 10px;
    margin: 10px;
  }
  .dashboard-container > label{
    text-align: center;
  }
  
  .progress-bar{
    /* border: 1px solid black; */
    display: block;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
  }
  
  .button-container-dashboard{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
  }
  
  .toLearn-container{
    /* border: 1px solid black; */
    margin: 25px 0;
    padding: 25px 0;
  }
  
  table, th, td { 
    width:100%;
    border: 1px solid black; 
    border-collapse: collapse;
    text-align: center;
  }
  


@media only screen and (min-width: 600px) {
    table, th, td { 
    margin:auto;
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 0 25px 0 25px;
    text-align: center;
  }
  .progress-bar{
    /* border: 1px solid black; */
    display: flex;

  }
}